---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import EventLayout from '../../layouts/EventLayout.astro';

export async function getStaticPaths() {
  const entries = await getCollection('masterclasses');
  return entries.map(entry => ({
    params: { slug: entry.data.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'masterclasses'>;
}

const { entry } = Astro.props;
const { title, type, date, time_start, time_end, location, cost, level, studielast, deelnemers, accreditation, aanmeld_url, sfeerfoto, intro, body } = entry.data;
---

<EventLayout {title} {type} {date} timeStart={time_start} timeEnd={time_end} {location} {cost} {level} {studielast} {deelnemers} {accreditation} aanmeldUrl={aanmeld_url} {sfeerfoto} {intro}>
  {body?.split("\n\n").map(para => <p>{para}</p>)}
</EventLayout>
