---
import { getEntry } from 'astro:content';
import EventLayout from '../../layouts/EventLayout.astro';

const entry = await getEntry('masterclasses', 'responsief-coachen');
const { title, date, time_start, time_end, location, cost, level, studielast, deelnemers, accreditation, body } = entry.data;
---

<EventLayout {title} {date} timeStart={time_start} timeEnd={time_end} {location} {cost} {level} {studielast} {deelnemers} {accreditation}>
  <h2>Over deze masterclass</h2>
  <p>{body}</p>
</EventLayout>
